$bright-green: #b8e61c;
$bright-pink: #f84d4d;
$dark-grey: #303132;
$light-grey: #a8a8a8;
$white: #f8f7f7;

$primary: #191919;
$secondary:#820604; 
$dark-primary: darken($primary, 10%);
$light-primary: lighten($primary, 10%);

$accent: $bright-pink;
$dark-accent: darken($accent, 10%);
$light-accent: lighten($accent, 10%);
