.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-weight: 700;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

i {
	margin-left:0.5rem;
	margin-right:1rem;
}

.edit{
	display:block;
	margin:2.3rem;
	max-width:13rem;
}

.appbg{
	background-image: url("../bground.jpg");
	min-height: 1080px;
}